.grid {
    display:flex;
    flex-direction: column;
    width:100vh;
    height:auto;
}

.row {
    display: flex;
    flex:auto;
}

.box {
    background-color: white;
    border: solid black 1px;
    flex: auto;
}

.hover {
    background-color: black;
}